In [3]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

student = input('어떤 학생의 점수가 궁금한가요? ')

if student in midterm.keys():
    print(midterm[student], '점입니다.')

else:
    print('해당 학생이 없습니다.')

어떤 학생의 점수가 궁금한가요? 도윤
43 점입니다.

In [6]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

for name in midterm.keys():
    print(name, end = ' ')

도윤 하윤 시우 지유 주원

In [7]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

for score in midterm.values():
    print(score, end = ' ')

43 82 76 61 94

In [11]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

for name in midterm.keys():
    print(name, midterm[name], end = ' ')

도윤 43 하윤 82 시우 76 지유 61 주원 94

In [12]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

for i in midterm.items():
    print(i, end = ' ')

('도윤', 43) ('하윤', 82) ('시우', 76) ('지유', 61) ('주원', 94)

In [13]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

for k, v in midterm.items():
    print(k,v, end = ' ')

도윤 43 하윤 82 시우 76 지유 61 주원 94

In [16]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}
print('점수가 70점 이상인 학생의 이름과 점수를 모두 출력합니다.')
for k,v in midterm.items():
    if v >= 70:
        print(k,v,end = ' ')

점수가 70점 이상인 학생의 이름과 점수를 모두 출력합니다.
하윤 82 시우 76 주원 94

In [17]:
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

for m in midterm:
    print(m, end = ' ')

도윤 하윤 시우 지유 주원